<% layout('layouts/boilerplate')%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<div id="map" style="width: 100%; height: 350px;"></div>
<div class="d-flex flex-row mb-3">
    <form action="/search" method="get" class="input-group mt-2">
        <input type="search" class="form-control rounded border border-1 border-primary" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="location"/>
        <button class="btn btn-primary">search</button>
    </form>
    <!-- Example split primary button -->
 
 <div class="dropdown mt-2 ml-1">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Price filter
    </button>
    <div class="d"></div>
    <div class="dropdown-menu dropdown-hover" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item " href="/lth">low to high</a>
      <a class="dropdown-item" href="/htl">high to low</a>
    </div>
  </div>
    
</div>

<h1>All Campgrounds</h1>

<div>
    <a href="/campgrounds/new">Add Campground</a>
</div>

<% for (let campground of campgrounds){%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            
            <% if(campground.images.length){ %> 
            <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
            <% }else{ %> 

                <img class="img-fluid" alt="" src="https://res.cloudinary.com/dgcnzszfm/image/upload/v1669532832/Campgrounds/ti2k1gwabj1miogc6h0e.webp">
                <% } %> 
            
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %> </h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location%></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View Campground</a>
            </div>
        </div>
    </div>
</div>
<% }%>
<script>
    const mapToken='<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds= {features:<%- JSON.stringify(campgrounds) %>}
</script>
<script src="javascripts/clusterMap.js"></script>